.auth-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
    padding-bottom: 90px;
    border-radius: 18px;
  }


 .optroles {
  width: 360px;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Nunito';
  font-size: large;
 }

 section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

 label,
button {
  margin-top: 1rem;
}
 .instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.answer-wrapper{
  margin-bottom: 30px;
  list-style-type: upper-alpha;
}

.question-wrapper{
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.answer-button {
  background: #fff9f2;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.answer-button:hover {
  color: #fff;
  background-color: var(--highlight-color);
}

.quiz-form{
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
  padding-bottom: 90px;
  border-radius: 18px;
  margin-bottom: 30px;
}