.user-list {
    width: 250px;
    min-width: 250px;
    padding: 30px;
    box-sizing: border-box;
    background: #fbfbfb;
    min-height: 100vh;
    color: var(--heading-color);
    
  }
  .user-list h2 {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
    
  }
  .user-list .user-list-item {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px auto;
    margin-right: 10px ;
    font-size: 14px;
    
  }

  .user-list{
    padding-right :30px;
  }

  .user-list .avatar {

    margin-left: 10px;
    width: 40px;
    height: 40px;

  }
  
  /* online users */
  .user-list .online-user {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: #0ebb50;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: -40px;
    margin-right: 25px;
    margin-bottom: -30px;
    
  }

  